<div [ngClass]="menuOpen ? 'no-scroll' : ''" class="container">
  <app-header [mobileView]="mobileView"></app-header>
  <img
    *ngIf="!mobileView"
    src="../assets/bg-pattern-intro-right-desktop.svg"
    alt=""
    class="top-right-bg"
  />
  <app-insure-main [mobileView]="mobileView"></app-insure-main>
  <img
    *ngIf="!mobileView"
    src="../assets/bg-pattern-intro-left-desktop.svg"
    alt=""
    class="bottom-left-bg"
  />
  <app-different></app-different>
  <app-footer [mobileView]="mobileView"></app-footer>
</div>
